html, body, #wrapper {
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background-color:#000;
	color: #fff;
}

#wrapper td {
   vertical-align: middle;
   text-align: center;
}

#appname {
	font: 30px 'Helvetica Neue','Arial',sans-serif;
	font-weight: 200;
	color: #333;
	display: block;
	margin-bottom: 1em;
	/*display: none;*/
}

#timer {
	font: bold 200px 'Helvetica Neue','Arial',sans-serif;
	display: none;
}

#timeinput {
	font: 40px 'Helvetica Neue','Arial',sans-serif;
	font-weight: 200;
	padding: 10px;
	outline: none;
}

